.OptimizationWidget {
  .gettingStartTitle {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin-left: 1%;
    /* identical to box height, or 180% */

    color: #003232;
  }
  .ant-select-selector {
    width: 100% !important;
    height: 47px !important;
    padding: 7px 11px !important;
    font-size: 1.3rem !important;
    .ant-select-selection-item {
      font-size: 12px;
    }
  }

  .redColor {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .numberText {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .deatiles {
    margin-top: 1rem;
  }
  .lightRed {
    color: white;
  }
  .Conatiner2sIconsTitle {
    padding: 1%;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
  }
  .cardsRigghtContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 70%;
    margin-top: 1rem;
  }

  .conatiner2Card {
    margin: 1%;
    width: 26rem !important;
    height: 19.5rem !important;
  }
  .hardware {
    .ant-card-body {
      padding: 0 !important;
      display: grid;
      justify-content: center;
      align-items: center;
      padding-left: 20px !important;
    }
    margin: 1%;
    width: 380px !important;
    height: 110px;
    background: #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    /* height: 19.5rem !important */
    h3 {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      /* identical to box height, or 185% */

      color: #1c99c4;
    }
    p {
      font-family: "Helvetica";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      /* or 200% */

      color: #323232;
    }
    img {
      width: 80px;
      height: 80px;
    }
  }
  .conatiner2CardImage {
    margin: 1%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .rightConatinesIcons {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .rightConatinesIcons .anticon {
    background: #c19f9d;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
  }

  .hardware {
    display: flex;
  }

  .optizmationWidget {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Gettingstarted {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
